<h2><%= @room.name %></h2>

<div id="fadeEffect" class="absoluteCenter"></div>

<div id="deletedAlert" class="absoluteCenter popUp hide">
  <h4>This room was deleted.</h4>
  <button id="fuckGoBack" class="btn btn-primary">Back to Home</button>
</div>

<div id="setUserFrame" class="absoluteCenter popUp">
  <h4>Insert a username</h4>

  <div class="input-group flex-nowrap">
    <input type="text" id="newUsernameInput" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
  </div>

  <button id="setUsernameButton" type="button" class="btn btn-dark">Set</button>
</div>

<div class="row">
  <div id="videoChatFrame" class="col-12">
    <div class="input-group mb-3">    
      <div class="input-group-prepend">
        <span class="input-group-text">https://www.youtube.com/watch?v=</span>
      </div>
      
      <input type="text" class="form-control" id="linkToVideo" placeholder="videocode" aria-label="Link to Video">

      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="startVideoButton">Start Video</button>
      </div>
    </div>

    <div class="row">    
      <iframe class="col-md-8" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <div class="col-md-4" id="chatBox">
        
        <div id="chatFrame" class="overflow-auto p-2">
          
        </div>

        <div class="input-group mb-3">
          <input id="messageInput" type="text" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="message">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="buttonSendMessage">Send</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  <!-- updating the frontend -->
  setInterval(function(){
    $.ajax({
      url: '<%= rooms_check_update_url %>',
      type: 'GET',
      data: {
        id: '<%= @room.id %>',
      },
      success: function(data) {
        var videoCode = $('iframe').attr('src').substring(30,)
        if(data.videoUrl !== videoCode) {
          var url = 'https://www.youtube.com/embed/' + data.videoUrl
          $('iframe').attr('src', url)
        }

        var newMessages = []
          for (var i = 0; i < data.messages.length; i++) {
            var lastCurrentMessage= $('#chatFrame').children().last()

            if(lastCurrentMessage && parseInt(data.messages[i].id) === parseInt($('#chatFrame').children().last().attr('id')))
              break
            else 
              newMessages.push(data.messages[i])
          }
          
          for (var i = newMessages.length - 1; i >= 0; i--) {
            $('#chatFrame').append(
              `<div class='col-12 breakText' id='${newMessages[i].id}'> 
                <b>${newMessages[i].user}:</b> ${newMessages[i].message} 
              </div>`
            )
          }
          if(newMessages.length !== 0) {
            var chatFrame = document.querySelector('#chatFrame');
            chatFrame.scrollTop = chatFrame.scrollHeight - chatFrame.clientHeight;
          }
        var newMessages = []
      },
      error: function(data) {
        if(data.status == 404){
          $('#fadeEffect').removeClass('hide')
          $('#deletedAlert').removeClass('hide')

          $('#fuckGoBack').on('click', function(){
            window.location.href = '<%= rooms_index_url %>'
          })
        }
      }
    })
  }, 1000)

  var currentUsername = sessionStorage.getItem('username')
  if(currentUsername) {
    $('#fadeEffect').addClass('hide')
    $('#setUserFrame').addClass('hide')
  }

  $('#setUsernameButton').on('click', function() {
    currentUsername = $('#newUsernameInput').val()
    sessionStorage.setItem('username', currentUsername)

    if(currentUsername) {
      $('#fadeEffect').addClass('hide')
      $('#setUserFrame').addClass('hide')
    } else alert('Please, insert a username.')
  })

  $('#startVideoButton').on('click', function() {
    if($('#linkToVideo').val()){
      $.ajax({
        url: '<%= rooms_update_video_url %>',
        type: 'PUT',
        data: {
          id: '<%= @room.id %>',
          videoUrl: $('#linkToVideo').val(),
        }
      })
    }
  })

  $('#messageInput').keydown(function(event) {
    if (event.keyCode == 13) {
      sendMessage()
      return false
    }
  })

  $('#buttonSendMessage').on('click', sendMessage)

  function sendMessage() {
    var textMessage = $('#messageInput').val()

    if(textMessage) {
      $.ajax({
        url: '<%= room_messages_send_message_url %>',
        type: 'POST',
        data: {
          id: '<%= @room.id %>',
          user: sessionStorage.getItem('username'),
          message: textMessage
        },
      })

      $('#messageInput').val('')
    }
  }
</script>