<h1><%= @room.name %></h1>

<div id="fadeEffect" class="absoluteCenter"></div>

<div id="setUserFrame" class="absoluteCenter popUp">
  <h4>Insert a username</h4>

  <div class="input-group flex-nowrap">
    <input type="text" id="newUsernameInput" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
  </div>

  <button id="setUsernameButton" type="button" class="btn btn-dark">Set</button>
</div>

<div id="deleteRoomFrame" class="absoluteCenter popUp hide">
  <h4>You will delete the room. Are you sure about it?</h4>
  <div class="row">
    <button id="noDeleteButton" type="button" class="btn btn-success col-6">No</button>
    <button id="yesDeleteButton" type="button" class="btn btn-light col-6">Yes</button>
  </div>
</div>

<div class="row">
  <div id="moderateFrame" class="hide">
    <button id="deleteRoomButton" type="button" class="btn btn-danger">Delete room</button>
    <h3>Moderate</h3>

    <div id="messagesForApproval" class="overflow-auto">
      
    </div>
  </div>

  <div id="videoChatFrame" class="col-12">
    <button id="moderateButton" type="button" class="btn btn-light">
      <%= image_tag('key.svg') %>
      Moderate
    </button>

    <div class="input-group mb-3">    
      <div class="input-group-prepend">
        <span class="input-group-text">https://www.youtube.com/watch?v=</span>
      </div>
      
      <input type="text" class="form-control" id="linkToVideo" placeholder="videocode" aria-label="Link to Video">

      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="startVideoButton">Start Video</button>
      </div>
    </div>

    <div class="row">    
      <iframe class="col-md-8" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <div class="col-md-4" id="chatBox">
        
        <div id="chatFrame" class="overflow-auto">
          
        </div>

        <div class="input-group mb-3">
          <input id="messageInput" type="text" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="message">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="buttonSendMessage">Send</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  <!-- updating the frontend -->
  setInterval(function(){
    $.ajax({
      url: '<%= rooms_check_update_url %>',
      type: 'GET',
      data: {
        id: '<%= @room.id %>',
      },
      success: function(data) {
        var videoCode = $('iframe').attr('src').substring(30,)
        if(data.videoUrl !== videoCode) {
          var url = 'https://www.youtube.com/embed/' + data.videoUrl
          $('iframe').attr('src', url)
        }


        var newMessagesToApprove = []
          for (var i = 0; i < data.messagesToApprove.length; i++) {
            var lastCurrentMessageToApprove = $('#messagesForApproval').children().last()

            if(lastCurrentMessageToApprove && parseInt(data.messagesToApprove[i].id) === parseInt($('#messagesForApproval').children().last().attr('id'))){
              break
            }
            else {
              newMessagesToApprove.push(data.messagesToApprove[i])
            }          
          }
          
          for (var i = newMessagesToApprove.length - 1; i >= 0; i--) {
            $('#messagesForApproval').append(
              `<div class='row' id='${newMessagesToApprove[i].id}'>
                <div class='col-md-8 breakText'> 
                  <b>${newMessagesToApprove[i].user}:</b> ${newMessagesToApprove[i].message} 
                </div>
                <div class='col-md-4'>
                  <button type="button" class="btn btn-success approveMessage"><%= image_tag('send.svg') %> </button>
                  <button type="button" class="btn btn-danger deleteMessage"><%= image_tag('x.svg') %></button>
                </div>
              </div>`
            )
          }
        var newMessagesToApprove = []

        var newMessages = []
          for (var i = 0; i < data.messages.length; i++) {
            var lastCurrentMessage= $('#chatFrame').children().last()

            if(lastCurrentMessage && parseInt(data.messages[i].id) === parseInt($('#chatFrame').children().last().attr('id'))){
              break
            }
            else {
              newMessages.push(data.messages[i])
            }          
          }
          
          for (var i = newMessages.length - 1; i >= 0; i--) {
            $('#chatFrame').append(
              `<div class='col-12 breakText' id='${newMessages[i].id}'> 
                <b>${newMessages[i].user}:</b> ${newMessages[i].message} 
              </div>`
            )
          }
        var newMessages = []
      }
    })
  }, 1000)

  var currentUsername = sessionStorage.getItem('username')
  if(currentUsername) {
    $('#fadeEffect').addClass('hide')
    $('#setUserFrame').addClass('hide')
  }

  $('#setUsernameButton').on('click', function() {
    currentUsername = $('#newUsernameInput').val()
    sessionStorage.setItem('username', currentUsername)

    if(currentUsername) {
      $('#fadeEffect').addClass('hide')
      $('#setUserFrame').addClass('hide')
    } else alert('Please, insert a username.')
  })


  $('#startVideoButton').on('click', function() {
    if($('#linkToVideo').val()){
      $.ajax({
        url: '<%= rooms_update_video_url %>',
        type: 'PUT',
        data: {
          id: '<%= @room.id %>',
          videoUrl: $('#linkToVideo').val(),
        }
      })
    }
  })

  $('#moderateButton').on('click', function() {
    if($('#moderateFrame').hasClass('hide')){
      $('#moderateFrame').addClass('col-md-3')
      $('#moderateFrame').removeClass('hide')
      $('#videoChatFrame').addClass('col-md-9')
      $('#videoChatFrame').removeClass('col-12')
    } else {
      $('#moderateFrame').removeClass('col-md-3')
      $('#moderateFrame').addClass('hide')
      $('#videoChatFrame').removeClass('col-md-9')
      $('#videoChatFrame').addClass('col-12')
    }
  })

  $('#deleteRoomButton').on('click', function() {
    $('#fadeEffect').removeClass('hide')
    $('#deleteRoomFrame').removeClass('hide')
  })

  $('#noDeleteButton').on('click', function() {
    $('#fadeEffect').addClass('hide')
    $('#deleteRoomFrame').addClass('hide')
  })

  $('#yesDeleteButton').on('click', function() {
    $.ajax({
      url: '<%= rooms_delete_url %>',
      type: 'DELETE',
      data: {
        id: '<%= @room.id %>',
      }
    })
  })


  $('#buttonSendMessage').on('click', function() {
    var textMessage = $('#messageInput').val()

    if(textMessage) {
      $.ajax({
        url: '<%= rooms_send_message_url %>',
        type: 'POST',
        data: {
          id: '<%= @room.id %>',
          user: sessionStorage.getItem('username'),
          message: textMessage
        },
      })
    }
  })

  $('#messagesForApproval').on('click','button.deleteMessage', function() {
    var messageDiv = $(this).parent().parent()
    var messageId = messageDiv.attr('id')
    $.ajax({
      url: '<%= rooms_message_to_approves_refuse_message_url %>',
      type: 'DELETE',
      data: {
        id: messageId,
      },
      success: messageDiv.remove()
    })
    
  })

  $('#messagesForApproval').on('click','button.approveMessage', function() {
    var messageDiv = $(this).parent().parent()
    var messageId = messageDiv.attr('id')
    $.ajax({
      url: '<%= rooms_approve_message_url %>',
      type: 'POST',
      data: {
        id: messageId,
      },
      success: messageDiv.remove()
      
    })
    
  })
</script>