<!DOCTYPE html>
<html>
  <head>
    <title>VideoChat2Gether</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <% content_for :head_script do %>
    <%= stylesheet_link_tag 'rooms' %>
    <% end %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap_modifications', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://kit.fontawesome.com/426eb9402a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&family=Ranchers&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="mb-3">
      <h1>
        <a href="/">
          <i class="fas fa-play-circle"
            style="margin-right: 5px;"></i>
          VideoChat2Gether
        </a>
      </h1>
    </header>

    <div>
      <%= yield %>
    </div>
  </body>
</html>
