<!DOCTYPE html>
<html>
  <head>
    <title>VideoChat2Gether</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <% content_for :head_script do %>
    <%= stylesheet_link_tag 'rooms' %>
    <% end %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>VideoChat2Gether</h1>
    <%= yield %>
  </body>
</html>
